
  <body>
  <div id="banner">
    <div id="quiz">
      <a href="#"><b>NOT SURE WHAT PROGRAM TO CHOOSE? FIND YOUR PERFECT FIT WITH OUR 60-SECOND QUIZ!</b></a>
    </div>
    <div id="header">
      <div id="menu"></div>
      <div id="logo"></div>
    </div>
  </div>
  <main>
  <div class="banner">
    <h1>The Female Fitness App</h1>
    <h1>That <em><b>Transforms Lives</b></em></h1>
    <p>Join thousands of women worldwide that have made the move and never looked back...</p>
    <img src="https://i.shgcdn.com/e44bc9aa-b49a-4a21-ad9d-33e8746b53ac/-/format/auto/-/preview/3000x3000/-/quality/normal/" alt="">
  </div>
  <div>
    <div class="section">
      <h1 id="top">Guided Programs That</h1>
      <h1 id="bottom"><em> Perfectly Fit Your Lifestyle</em></h1>
      <p><b>Science-based, effective workouts</b> for every body...no matter what your goals or stage of life.</p>
      <div id="cards">
        <div class="card">
          <img src="https://i.shgcdn.com/55a2ad1f-83bc-4904-bbf7-f35f50ef68e5/-/format/auto/-/preview/3000x3000/-/quality/best/" alt="">
          <ul>
            <li>Convenient workouts</li>
            <li>Target your lower body + core</li>
            <li>Easy-to-make, delicious recipes</li>
          </ul>
          <a class="button" id="bg" href="">EXPLORE BUSY GIRL</a>
        </div>
        <div class="card">
          <img src="https://i.shgcdn.com/869c64f0-6a93-4ffd-aadf-59480e8b8d2c/-/format/auto/-/preview/3000x3000/-/quality/better/" alt="">
          <ul>
            <li>Fat loss</li>
            <li>Tighten your core</li>
            <li>Achieve a full body transformation</li>
          </ul>
          <a class="button" id="f" href="">EXPLORE FIT</a>
        </div>
        <div class="card">
          <img src="https://i.shgcdn.com/576d614c-d4a2-4c26-a27b-5d6a6c12a20c/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="">
          <ul>
            <li>Sculpt lean legs</li>
            <li>Grow your glutes</li>
            <li>Define your upper body</li>
          </ul>
          <a class="button" id="s" href="">EXPLORE STRONG</a>
        </div>
      </div>
    </div>
  </div>
  </main>
  </body>
