
  <body>
  <div id="banner">
    <div id="quiz">
      <a href="#"><b>NOT SURE WHAT PROGRAM TO CHOOSE? FIND YOUR PERFECT FIT WITH OUR 60-SECOND QUIZ!</b></a>
    </div>
    <div id="header">
      <div id="menu"></div>
      <div id="logo"></div>
    </div>
  </div>
  <main>
  <div class="banner">
    <h1>The Female Fitness App</h1>
    <h1>That <em><b>Transforms Lives</b></em></h1>
    <p>Join thousands of women worldwide that have made the move and never looked back...</p>
  </div>
  <div>
    <div class="section">
      <h1 class="top">Guided Programs That</h1>
      <h1 class="bottom"><em> Perfectly Fit Your Lifestyle</em></h1>
      <p><b>Science-based, effective workouts</b> for every body...no matter what your goals or stage of life.</p>
      <div class="cards">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1584863495140-a320b13a11a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=746&q=80" alt="">
          <p><b>BUSY GIRL WORKOUTS</b> is designed with <b>minimal equipment and movement between exercises</b>, allowing you to maximise your results with ultimate efficiency.</p>
          <a class="button" id="bg" href="">EXPLORE BUSY GIRL</a>
        </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1539794830467-1f1755804d13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
          <p><b>FIT</b> is our most popular Program for first-timers, designed to help you <b>achieve your fat loss goals</b> and create a full body transformation in just 4 weeks!</p>
          <a class="button" id="f" href="">EXPLORE FIT</a>
        </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1594381898411-846e7d193883?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
          <p><b>STRONG</b> will show you how to <b>build leans legs, grow your glutes</b> and unlock the system that enabled Rachel Dillon to be crowned 3x WBFF Bikini World Champion!</p>
          <a class="button" id="s" href="">EXPLORE STRONG</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <footer>
  <h1><em>Join Our</em> Community</h1>
  <div class="form-sec">
    <div id="form">
      <div>
        <form action="">
          <label for="email"></label><br>
          <input type="text" name="email" id="email" value="Email">
        </form>
      </div>
      <div>
        <a id="form-btn" href="#">SUBMIT</a>
      </div>
    </div>
  </div>
  <div id="lists">
    <div>
      <h6>Mon - Fri | 9am - 5pm AEST</h6>
    </div>
    <div>
      <ul>
        <li class="title"><b>MENU</b></li>
        <li>PROGRAMS</li>
        <li>BUSY GIRL CHALLENGE</li>
        <li>PRODUCTS</li>
        <li>NUTRITION</li>
        <li>JOURNAL</li>
        <li>ABOUT</li>
        <li>SUPPORT</li>
    </div>
    <div>
      <ul>
        <li class="title"><b>CUSTOMER SERVICE</b></li>
        <li>NEED HELP?</li>
        <li>SHIPPING & DELIVERY</li>
        <li>REFUNDS & EXCHANGES</li>
        <li>PRIVACY POLICY</li>
        <li>TERMS & CONDITIONS</li>
        <li>COOKIE POLICY</li>
      </ul>
    </div>
  </div>
  </footer>

  </main>
  </body>
