
  <body>
  <div id="banner">
    <div id="quiz">
      <a href="#"><b>NOT SURE WHAT PROGRAM TO CHOOSE? FIND YOUR PERFECT FIT WITH OUR 60-SECOND QUIZ!</b></a>
    </div>
    <div id="header">

    </div>
  </div>
  <main>
  <img src="" alt="">

  </main>
  </body>
