body {
  margin: 0;
}

#quiz {
  background-color: black;
  text-align: center;
  padding: 8px 12px;

}

a {
  color: #fff;
  width: 100%;
  font-size: 9px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.2em;
}

#header {
  height: 96px;
  background-color: white;
  position: sticky;
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.banner img {
  background-size: cover;
  width: 100%;
}


.section {
  margin: 0px 94px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;

}

.card {
  width: 300px;

}

.card img {
  border-radius: 8px;
  width: 296px;
  height: 452px;

}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 1.2em;
  margin: 0px;
  text-align: center;
}

.top {
  margin-top: 64px;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0px;
  padding-bottom: 20px;
}

li {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.button {
  font-weight: 700;
  font-size: 11px;
  padding: 10px 36px;
  border: 1px solid transparent;
  color: white;
  background-color: black;
}

#bg {
  margin-left: 32px;
}

#f {
  margin-left: 68px;
}

#s {
  margin-left: 48px;
}

.card p {
  line-height: 200%;
  margin: 8px;
  padding-bottom: 16px;
  padding-top: 8px;
}

#para2 {
  padding-left: 500px;
  padding-right: 500px;
  margin-bottom: 200px;
}

hr {
  margin-top: 64px;
  margin-bottom: 64px;
}

.form-sec {
  display: grid;
  place-items: center;
}

#lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-top: 64px;
}

.title {
  margin-bottom: 10px;
  font-size: 16px;
}

li {
  text-align: left;
  margin-bottom: 8px;
  font-size: 9px;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 48px;
}

#form-btn {
  color: black;
  border: 1px solid black;
  margin-left: 12px;
  font-size: 12px;
  padding: 10px 32px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  width: 500px;
  height: 15px;
}
